<div class="d-flex justify-content-between">
  <h1 class="display-6 fw-bold mb-3">Car Images</h1>
  <button
    *ngIf="carId"
    routerLink="/admin/cars/edit/{{ carId }}"
    class="btn btn-sm btn-primary shadow-sm mb-3"
  >
    <i class="fas fa-pen"></i> Car Edit
  </button>
</div>
<div class="card p-2 rounded-2 shadow-xl">
  <div class="card-header shadow">
    <div class="input-group">
      <input
        (change)="selectFiles($event)"
        type="file"
        multiple
        class="form-control"
      />
      <button
        (click)="uploadFiles()"
        [disabled]="!selectedFiles"
        class="btn btn-success"
      >
        Upload
      </button>
    </div>
  </div>
  <div class="card-body p-2 shadow">
    <div class="row">
      <div *ngFor="let carImage of carImages" class="col">
        <div
          *ngIf="!isDefaultCarImage(carImage)"
          class="card rounded-2"
          style="width: 18rem"
        >
          <img [src]="getCarImageUrl(carImage.id)" class="card-img-top" />
          <div
            class="card-body d-flex justify-content-between align-items-center"
          >
            <span class="fw-light">{{ carImage.date | date }}</span>
            <button (click)="delete(carImage)" class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
