<div class="d-flex mb-3">
  <h1 class="display-6 fw-bold m-0">Car Lists</h1>
  <button class="btn btn-primary ms-4 btn-lg" routerLink="add">
    <i class="fas fa-plus"></i> Add
  </button>
</div>

<app-car-filter [isCompact]="true"></app-car-filter>

<div class="card p-2 rounded-2 shadow-xl">
  <table class="table table-hover">
    <thead class="card-header">
      <tr class="text-uppercase">
        <th scope="col">Id</th>
        <th scope="col">Car Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Color</th>
        <th scope="col">Model Year</th>
        <th scope="col">Daily Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="card-body shadow">
      <tr *ngFor="let carDetail of carDetails">
        <th scope="row">{{ carDetail.id }}</th>
        <td>{{ carDetail.carName | titlecase }}</td>
        <td>{{ carDetail.brandName | titlecase }}</td>
        <td>{{ carDetail.colorName | titlecase }}</td>
        <td>{{ carDetail.modelYear }}</td>
        <td>{{ carDetail.dailyPrice | currency }}</td>
        <td class="d-flex justify-content-between">
          <button
            routerLink="edit/images/{{ carDetail.id }}"
            class="btn btn-sm btn-success shadow-sm"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
          </svg>
          </button>

          <button
            routerLink="edit/{{ carDetail.id }}"
            class="btn btn-sm btn-primary shadow-sm"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
